<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="description" content="Inserting,deleting and updating records of people into a mongodb database"/>
    <meta name="robots" content="nofollow"/>
    <title></title>
</head>
<body>
    {{{body}}}
    
</body>
</html>