<link href="/styles.css" type="text/css" rel="stylesheet"/>
<!--gets users-->
<h3>GET USER</h3>
<form action="/getUsers" method="GET">
<input type="text" placeholder="Enter user name" name="userName"/><br/>
<input type="submit" value="GET USER"/>
</form>
{{result}}