<link href="/styles.css" type="text/css" rel="stylesheet"/>
<!--updates users-->
<h3>UPDATE USERS</h3>
<form action="/update?_method=PUT" method="POST">
<input type="text" name="userName" placeholder="Enter user name" required="required"/><br/>
<b>Enter new details</b><br/>
<input type="text" name="newUserName" placeholder="New User Name"/><br/>
<input type="text" name="firstName" placeholder="Enter First Name" required="required"/><br/>
<input type="text" name="middleName" placeholder="Enter Middle Name" required="required"/><br/>
<input type="text" name="lastName" placeholder="Enter Last Name" required="required"/><br/>
<input type="text" name="age" placeholder="Enter age" required="required"/><br/>
<input type="radio" name="gender" value="male" checked="checked"/>Male
<input type="radio" name="gender" value="female" />Female
<input type="radio" name="gender" value="other"/>Other<br/>
<input type="submit" value="UPDATE USER"/>
</form>
